html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    font-size: 14px;
    line-height: 18px;
    background: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

a {  color: #366097; }
a:hover { color: #0d3349; }

a.selected {
    color: #0d3349;
    font-weight: bold;
}

.error-message {
    background: #d9534f;
    border-radius: 3px;
    padding: 5px 3px;
    color: #fff;
    font-weight: bold;
}

.login-form ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}

/* unslider */
.banner { position: relative; overflow: auto; margin: -10px 0 0 0; padding: 0; }
.banner ul { margin: 0; padding: 0; width: 960px; }
.banner li { list-style: none;  margin: 0; padding: 0; }
.banner ul li { float: left;  margin: 0; padding: 0; width: 960px; height:540px; }
.banner ul li img {
    margin: 0;
    padding: 0;
}



#wrapper {
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 100%;
}


header {
    width: 100%;
    display: table-row;
}

#header-wrap {
    margin: 0 auto;
    min-width: 640px;
    max-width: 960px;
    height: 90px;
    border-bottom: 1px solid #333333;
}

.sitelogo {
    float: left;
    margin: 0;
    padding: 0 5px;
}

.sitetitle {
    float: left;
    margin: 0 0 0 15px;
    padding: 20px 0;
    font-size: 40px;
    text-shadow: -1px 2px 1px #CCC;
}

.siteslogan {
    float: left;
    margin: 0 0 0 120px;
    padding: 0 0 10px 0;
    color: #666;
    font-style: italic;
}


/* navmenu */
#menu-wrap {
    margin: 0 auto;
    width: 960px;
    padding: 0;
}

#menu-wrap nav {
    padding: 0;
    margin: 10px 0;
    border-bottom: 1px solid #333;
}

#menu-wrap nav a {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 10px 5px;
    width: 90px;
    background: #ccc;
    color: #333;
    text-decoration: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#menu-wrap nav a.selected {
    background: #333;
    color: #fff;
}

#menu-wrap nav a:hover {
    background: #333;
    color: #fff;
}


#main {
    display: table-row;
    height: 100%;
    width: 100%;
}

#main-wrap {
    margin: 0 auto;
    min-width: 640px;
    max-width: 960px;
}

#main-wrap p::first-letter {
   font-size: 120%;
}


footer {
    width: 100%;
    display: table-row;
}

#footer-wrap {
    border-top: 1px solid #333;
    padding: 10px 0;
    margin: 0 auto;
    min-width: 640px;
    max-width: 960px;
}